In [43]:
import pandas as pd
import numpy as np

In [44]:
dataset = pd.read_csv(r'C:\Users\payashwini\Desktop\iris.csv')

## checking for null values

In [45]:
dataset.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

#### itseems that there are no null values in the dataset

### checking for the datatypes of the each field

In [46]:
dataset.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

## Quick summary of the data

In [47]:
dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Let's check for the species or the classes

In [48]:
dataset = dataset.rename(columns={'species':'class'})
dataset['class'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: class, dtype: int64

### Converting the classes/variety to integer values.
Setosa = -1 , 
Versicolor = 1 , 
Virginica = 2

In [49]:
dataset['class'] = dataset['class'].apply({'setosa':-1,'versicolor':1,'virginica':2}.get)

In [50]:
dataset['class'].value_counts()

 2    50
 1    50
-1    50
Name: class, dtype: int64

#### There are three classes in the dataset and 50 counts each

In [51]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2     -1
1           4.9          3.0           1.4          0.2     -1
2           4.7          3.2           1.3          0.2     -1
3           4.6          3.1           1.5          0.2     -1
4           5.0          3.6           1.4          0.2     -1

# Implementing ID3 algorithm

## Defining the test train split function

In [52]:
import random
#Defining test train split function
def trainTestSplit(dataFrame, testSize):
    if isinstance(testSize, float):
        testSize = round(testSize * len(dataFrame))
    indices = dataFrame.index.tolist()
    testIndices = random.sample(population = indices, k = testSize)
    dataFrameTest = dataFrame.loc[testIndices]
    dataFrameTrain = dataFrame.drop(testIndices)
    return dataFrameTrain, dataFrameTest

#Defining entropy function
def entropy(target_col):
    
    elements,counts = np.unique(target_col,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    
    return entropy

#Defining Information gain function
def InfoGain(data,split_attribute_name,target_name="class"):
    #Calculate the entropy of the total dataset
    total_entropy = entropy(data[target_name])
    
    ##Calculate the entropy of the dataset
    
    #Calculate the values and the corresponding counts for the split attribute 
    vals,counts= np.unique(data[split_attribute_name],return_counts=True)
    
    #Calculate the weighted entropy
    Weighted_Entropy = np.sum([(counts[i]/np.sum(counts))*entropy(data.where(data[split_attribute_name]==vals[i]).dropna()[target_name]) for i in range(len(vals))])
    
    #Calculate the information gain
    Information_Gain = total_entropy - Weighted_Entropy
    return Information_Gain


#Defining ID3 algorithm
def ID3(data,originaldata,features,target_attribute_name="class",parent_node_class = None):
    
     #Define the stopping criteria --> If one of this is satisfied, we want to return a leaf node#
    
    #If all target_values have the same value, return this value
    if len(np.unique(data[target_attribute_name])) <= 1:
        return np.unique(data[target_attribute_name])[0]
    
    #If the dataset is empty, return the mode target feature value in the original dataset
    elif len(data)==0:
        return np.unique(originaldata[target_attribute_name])[np.argmax(np.unique(originaldata[target_attribute_name],return_counts=True)[1])]
    
    #If the feature space is empty, return the mode target feature value of the direct parent node --> Note that
    #the direct parent node is that node which has called the current run of the ID3 algorithm and hence
    #the mode target feature value is stored in the parent_node_class variable.
    
    elif len(features) ==0:
        return parent_node_class
    
    #If none of the above holds true, grow the tree!
    
    else:
        #Set the default value for this node --> The mode target feature value of the current node
        parent_node_class = np.unique(data[target_attribute_name])[np.argmax(np.unique(data[target_attribute_name],return_counts=True)[1])]
        
        #Select the feature which best splits the dataset
        item_values = [InfoGain(data,feature,target_attribute_name) for feature in features] #Return the information gain values for the features in the dataset
        best_feature_index = np.argmax(item_values)
        best_feature = features[best_feature_index]
        
        #Create the tree structure. The root gets the name of the feature (best_feature) with the maximum information
        #gain in the first run
        tree = {best_feature:{}}
        
        
        #Remove the feature with the best inforamtion gain from the feature space
        features = [i for i in features if i != best_feature]
        
        #Grow a branch under the root node for each possible value of the root node feature
        
        for value in np.unique(data[best_feature]):
            value = value
            #Split the dataset along the value of the feature with the largest information gain and therwith create sub_datasets
            sub_data = data.where(data[best_feature] == value).dropna()
            
            #Call the ID3 algorithm for each of those sub_datasets with the new parameters --> Here the recursion comes in!
            subtree = ID3(sub_data,dataset,features,target_attribute_name,parent_node_class)
            
            #Add the sub tree, grown from the sub_dataset to the tree under the root node
            tree[best_feature][value] = subtree
            
        return(tree)    

#Defining Predict function
def predict(query,tree,default = 1):
    for key in list(query.keys()):
        if key in list(tree.keys()):
            
            try:
                result = tree[key][query[key]] 
            except:
                return default
  
            
            result = tree[key][query[key]]
            
            if isinstance(result,dict):
                return predict(query,result)

            else:
                return result

#Deifining Test function             
def test(data,tree):
    #Create new query instances by simply removing the target feature column from the original dataset and 
    #convert it to a dictionary
    queries = data.iloc[:,:-1].to_dict(orient = "records")
    
    #Create a empty DataFrame in whose columns the prediction of the tree are stored
    predicted = pd.DataFrame(columns=["class"]) 
    
    #Calculate the prediction accuracy
    for i in range(len(data)):
        predicted.loc[i,"class"] = predict(queries[i],tree,1.0) 
    predicted['class'] = predicted['class'].apply(np.int64)
    data = data.reset_index(drop = True)
    #print(predicted)
    #print(data)
    print('The prediction accuracy is: ',(np.sum(predicted["class"] == data["class"])/len(data))*100,'%')

In [55]:
training_data, testing_data = trainTestSplit(dataset, testSize = 0.3)
tree = ID3(training_data,training_data,training_data.columns[:-1])
test(testing_data,tree)

The prediction accuracy is:  88.88888888888889 %